.result {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 60vh;
  text-align: center;
}
.title {
  color: rgb(255, 255, 255);
  font-size: 55px;
  font-weight: 600;
}
.button {
  font-size: 18px;
}
