.footer {
  /* background-color: #070629; */
  bottom: 0;
  left: 0;
  right: 0;
  padding: 10px;
  text-align: center;
  color: #fff;
  letter-spacing: 1px;
  position: fixed;
}
.footer:hover {
  color: #00f;
}
